<h1>Les produits du congel</h1>

<div class="form_add">
  <%= render 'shared/form_add' %>
</div>
<div>******************************************</div>
<ul>
<% @products.each do |product| %>
<li class='product_item'>
  <%= product.quantity %> <%= product.name %>  <%= cl_image_tag product.photo.key if product.photo.attached? %> depuis le <%= product.entered_on %>
  <%= link_to 'X', product_path(product), method: :delete %>
</li>
<% end %>
</ul>
